body {
  background-image:url("../images/background.png");
  color: #ffd821;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size:16px;
  background-repeat: no-repeat;
  background-color: black;
  background-size:100% auto;
  background-attachment: fixed;
}

.add-button{
  font-family: 'Quicksand', sans-serif;
  border-radius: 25px;
  padding:10px;
  font-size:16px;
  font-weight:bold;
}

h1 {
  font-size:40px;
font-family: 'Russo One', sans-serif;}

body img {
  width:22%;
}

.badge {
  position:absolute;
  margin-top:-42px;
  margin-left:-62px;
}
.badge img {
  width:55px;
  height:auto;
}



.charbox {
  text-align:left;
  width:250px;
  padding: 20px;
  background-color: white;
  color: black;
  margin:auto;
  border-radius: 25px;
  margin-top: -31px;
}

#row2 {
  width: 1001px;
  position: static;
  margin: auto;
  margin-bottom: 472px;
  margin-top: 24px;
  z-index: -99999;
}

.left {
  margin-right:95px;
}

#row3 {
  position:static;
  margin:auto;
  height: 577px;
  width: 1001px;
}

.bracket img {
  width: 256px;
}

.bracket {
  margin-bottom: 20px;
  margin-top:-10px;
  display: inline-block;
  font-size:27px;
  font-family: 'Russo One', sans-serif;
}

#row2 .charbox {
  position:absolute;
}
#row3 .charbox {
  position:absolute;
}

#science-officer{
  margin-left:354px;
}

#security-officer{
  margin-left:707px;
}

#engineer {
  margin-left:354px;
}

#counselor {
  margin-left: 707px
}

#starship {
  width:176px;
  position:absolute;
  margin-left:40px;
}

#shiplogo {
  margin-left:149px;
  margin-top: -44px;
}

#shiplogo img {
  width:99px;
}

#chargen {
  display:none;
  margin-bottom: 56px;
}

.char-button {
  background-color:#ffd821;
  margin-left:32px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 25px;
  padding:10px;
  font-size:14px;
  font-weight:bold;
}

#ship-button{
  margin-left:15px;
}
